* {
    box-sizing: border-box;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.left img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.right {
    right: 0;
    background-color: #0600ff;
}

.IMDSignup {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
    grid-template-rows: 1fr [form] 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.form-error {
    background-color: #fcd7f7;
    color: #0600ff;
    padding: 0.3em 1em;
    margin-bottom: 1em;
}

.form-signup {
    background-color: #0600ff;
    padding: 1em;
    grid-column: form;
    grid-row: form;
}

h2 {
    color: white;
}

.inspiration {
    color: white;
}

.form__field {
    padding-bottom: 1em;
}

.form__field label {
    display: block;
    margin-bottom: 0.2em;
}

.form__field .label__inline {
    display: inline-block;
}

.form__field input[type = text], 
.form__field input[type = password] {
    width: 100%;
    padding: 0.3em;
    border: none;
    border-style: solid;
    border-color: #0600ff;
}

.btn-primary {
    background-color: #bffd00;
    color: #0600ff;
    text-align: center;
    border: none;
    padding: 0.3em 2em;
}

.login {
    color: white;
}

.login a:active {
    color: white;
}

.login a:visited {
    color: white;
}